<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <%- include("./partial/head.ejs")%>
        <style>
            body {
                padding: 0%;
                margin: 0%;
            }
            #top_menu li a {
                color: white;
            }
            .margin_item {
                margin-left: 60%;
            }
            .margin_item li {
                margin-left: 10px;
            }
            .orange_text_color {
                color: #fd6342;
            }
            .gray_text_color {
                color: #252b3b;
            }
            .orange_text_color {
                color: #fd6342;
            }
            .gray_background_color {
                background: #252b3b;
            }
            .orange_background_color {
                background: #fd6342;
            }
            
            
            
         
            .sign_up {
                padding-left: 3vw;
                padding-right: 3vw;
                padding-top: 0.6vw;
                padding-bottom: 0.6vw;

                background: #fd6342;
                border-color: #fd6342;

                border-radius: 2px;
                font-weight: bold;
            }
            
            #top_menu li a:hover {
                color: #fd6342;
            }
            hr{
                width: 40%;
                background: #fd6342;
                height: 3px;
            }
          
            .form_input:focus{
               
                outline-color: #fd6342;
            }
            form{
                margin-top: 10%;
            }
            form input{
                margin: 10px;
            }
            button[type=submit]{
                padding: 7px;
                border: #fd6342;
            }
            .radio{
                 border:2px solid black;
            } 

        </style>
        
        <style>
            .checkbox-wrapper-16 *,
            .checkbox-wrapper-16 *:after,
            .checkbox-wrapper-16 *:before {
              box-sizing: border-box;
            }
          
            .checkbox-wrapper-16 .checkbox-input {
              clip: rect(0 0 0 0);
              -webkit-clip-path: inset(100%);
                      clip-path: inset(100%);
              height: 1px;
              overflow: hidden;
              position: absolute;
              white-space: nowrap;
              width: 1px;
            }
            .checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile {
              border-color: #fd6342;
              box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
              color: #fd6342;
            }
            .checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile:before {
              transform: scale(1);
              opacity: 1;
              background-color: #fd6342;
              border-color: #fd6342;
            }
            .checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile .checkbox-icon,
            .checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile .checkbox-label {
              color: #fd6342;
            }
            .checkbox-wrapper-16 .checkbox-input:focus + .checkbox-tile {
              border-color: #fd6342;
              box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
            }
            .checkbox-wrapper-16 .checkbox-input:focus + .checkbox-tile:before {
              transform: scale(1);
              opacity: 1;
            }
          
            .checkbox-wrapper-16 .checkbox-tile {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              width: 7rem;
              min-height: 7rem;
              border-radius: 0.5rem;
              border: 2px solid #b5bfd9;
              background-color: #fff;
              box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
              transition: 0.15s ease;
              cursor: pointer;
              position: relative;
            }
            .checkbox-wrapper-16 .checkbox-tile:before {
              content: "";
              position: absolute;
              display: block;
              width: 1.25rem;
              height: 1.25rem;
              border: 2px solid #b5bfd9;
              background-color: #fff;
              border-radius: 50%;
              top: 0.25rem;
              left: 0.25rem;
              opacity: 0;
              transform: scale(0);
              transition: 0.25s ease;
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
              background-size: 12px;
              background-repeat: no-repeat;
              background-position: 50% 50%;
            }
            .checkbox-wrapper-16 .checkbox-tile:hover {
              border-color: #fd6342;
            }
            .checkbox-wrapper-16 .checkbox-tile:hover:before {
              transform: scale(1);
              opacity: 1;
            }
          
            .checkbox-wrapper-16 .checkbox-icon {
              transition: 0.375s ease;
              color: #494949;
            }
            .checkbox-wrapper-16 .checkbox-icon svg {
              width: 3rem;
              height: 3rem;
            }
          
            .checkbox-wrapper-16 .checkbox-label {
              color: #707070;
              transition: 0.375s ease;
              text-align: center;
            }
          </style>
    </head>
    <body>
        <%- include("./partial/top_menu.ejs")%>
        <br />
        <br />
        <%if(message.length>0){%>
            <div class="alert alert-danger " role="alert" style="width:30%;margin-left: 35%;">
                <div>
                    
                    <%=message%> 
                </div>
              </div>
            <%}%>
        <div class="col d-flex justify-content-center">
            
                <div class="card card-inverse card-primary ">
                    <center>
                    <div class="card-block">
                        <br>
                        <h4 class="card-title orange_text_color" style="font-size:30px;" >Sign up</h4>
                        <hr>
                        
                        <form action="/auth/signup" method="post">
                           
                          <div class="row form_input justify-content-center">
                            <div class="col-3">
                                <div class="checkbox-wrapper-16">
                                    <label class="checkbox-wrapper">
                                      <input type="checkbox" class="checkbox-input" id="c1" value="Patient" name="user_type"/>
                                      <span class="checkbox-tile">
                                        <span class="checkbox-icon">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="192" height="192" fill="currentColor" viewBox="0 0 256 256">
                                            <rect width="256" height="256" fill="none"></rect>
                                            <center>
                                            <i class="fa-solid fa-user" style="font-size: 30px;"></i>
                                        </center>
                                          </svg>
                                        </span>
                                        <span class="checkbox-label">Patient</span>
                                      </span>
                                    </label>
                                  </div>
                            </div>
                            <div class="col-3">
                                <div class="checkbox-wrapper-16">
                                    <label class="checkbox-wrapper">
                                      <input type="checkbox" class="checkbox-input" id="c2" value="Doctor" name="user_type"/>
                                      <span class="checkbox-tile">
                                        <span class="checkbox-icon">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="192" height="192" fill="currentColor" viewBox="0 0 256 256">
                                            <rect width="256" height="256" fill="none"></rect>
                                            <center>
                                            <i class="fa-solid fa-user-doctor" style="font-size: 30px;"></i>
                                        </center>
                                        </svg>
                                        </span>
                                        <span class="checkbox-label">Doctor</span>
                                      </span>
                                    </label>
                                  </div>
                            </div>
                            
                            </div>
                              
                            <input type="text" name="first_name" id="" class="col-md-6 form_input" placeholder="First name" >
                            <input type="text" name="last_name" id="" class="col-md-6 form_input" placeholder="Last name">
                           <input type="email" name="email" id="" class="col-md-6 form_input" placeholder="Email">
                           <input type="password" name="password" id="" class="col-md-6 form_input" placeholder="Password">
                           <div class="col-md-12  " style="text-align: justify;margin-left: 220px;" >
                            <span style="color:#252b3b; font-size: 15px;">Do you </span>
                            <span ><a href="/login" style="color: #fd6342; font-size: 15px;">have already an account?</a></span>
                           </div>
                           <br><br>
                           <div class="col-md-12 ">
                            <button type="submit" class="col-md-6 orange_background_color"  style="text-align: left;"><i class="fas fa-check-circle" style="color:white;font-size: 30px;"></i> <span style="margin-left:80px ;color: white;font-weight: bold;font-size: 20px;">Continue</span> </button>

                            
                           </div>
                          
                           <br><br><br><br>
                 

                        </form>
                    </div>
                </center>
                </div>
            
        </div>
        <br><br><br><br>

        <div class="gray_background_color">
            <%- include("./partial/footer.ejs")%>
        </div>
        <script>
            let c1=document.getElementById("c1");
            let c2=document.getElementById("c2");
            c1.onclick=()=>{
                if(c2.checked){
                    c2.checked=false;
                }
            }
            c2.onclick=()=>{
                if(c1.checked){
                    c1.checked=false;
                }
            }
        </script>
    </body>
</html>
