<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewpoint" content="width=device-width, initial-value=1.0" />
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/all.min.css" />
    <title>Mental Health</title>
  </head>

  <body>
    <!--Navbar-->
    <%- include('../partial/navbar.ejs') %>

    <!--Grid user & req-->

    <div class="container mt-5 pt-5">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 19rem;">
      <div class=" mt-5 ms-3">
        <img src="assets/images/profile.png" class="float-left"  width="100" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">Muhammad Umar</h5>
        <p class="card-text">/ Amin</p>
      </div>
        <ul class="list-group list-group-flush">
          <a href="/" class="list-group-item active bg-danger"><i class="fa-solid fa-check me-2"></i>Request</a>
          <a href="/admin/doctor/add-doctor" class="list-group-item"><i class="fa-solid fa-user-plus me-2"></i>Add Doctor</a>
          <a href="/admin/user" class="list-group-item"><i class="fa-solid fa-list me-2"></i>User</a>
          <a href="" class="list-group-item"><i class="fa-solid fa-floppy-disk"></i>Total Appointment</a>
        </ul>
    </div>  
    </div>
    <!--Request-->
    <div class="col-8">
      <div class="card">
        <div class="card-header bg-danger text-white font-weight-bold">
          <h4>Request</h4>
        </div>
        <div class="card-body">
    <!--profile-->
                <div class="row">
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                     <img src="assets/images/profile.png" class="float-left"  width="80" alt="...">
                    <h5 class="card-title mt-2">Dr.Roman Sheraz</h5>
                    <p class="font-weight-light">Specialist: psychologist</p>
                    <p class="font-weight-light"><b>Email:</b> romand3434@gmail.com</p>
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-success me-1">Accept</button>
                    <button type="button" class="btn btn-danger me-1">Reject</button>
                    <button type="button" class="btn btn-info">View</button>
                  </div>
                </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                     <img src="assets/images/profile.png" class="float-left"  width="80" alt="...">
                    <h5 class="card-title mt-2">Dr.Huzaifa</h5>
                    <p class="font-weight-light">Specialist:Psychatrist</p>
                    <p class="font-weight-light"><b>Email:</b> romand3434@gmail.com</p>
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-success me-1">Accept</button>
                    <button type="button" class="btn btn-danger me-1">Reject</button>
                    <button type="button" class="btn btn-info">View</button>
                  </div>
                </div>
                </div>
              </div>
            </div> 
            <!--line2--> 
                <div class="row">
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                     <img src="assets/images/profile.png" class="float-left"  width="80" alt="...">
                    <h5 class="card-title mt-2">Dr.Ubaid Ur Rehman</h5>
                    <p class="font-weight-light">Specialist: psychologist</p>
                    <p class="font-weight-light"><b>Email:</b> romand3434@gmail.com</p>
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-success me-1">Accept</button>
                    <button type="button" class="btn btn-danger me-1">Reject</button>
                    <button type="button" class="btn btn-info">View</button>
                  </div>
                </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                     <img src="assets/images/profile.png" class="float-left"  width="80" alt="...">
                    <h5 class="card-title mt-2">Dr.Israr Ahmad</h5>
                    <p class="font-weight-light">Specialist: psychologist</p>
                    <p class="font-weight-light"><b>Email:</b> romand3434@gmail.com</p>
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-success me-1">Accept</button>
                    <button type="button" class="btn btn-danger me-1">Reject</button>
                    <button type="button" class="btn btn-info">View</button>
                  </div>
                </div>
                </div>
              </div>
            </div>        
        </div>
</div>

    </div>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
  </body>
</html>
