
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6/index.global.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/all.min.css" />

        <%- include("../partial/head.ejs") %>
        <title>Document</title>
    </head>
    <style>
        body {
            padding: 0%;
            margin: 0%;
        }
        #top_menu li a {
            color: white;
        }
        .margin_item {
            margin-left: 60%;
        }
        .margin_item li {
            margin-left: 10px;
        }
        .orange_text_color {
            color: #fd6342;
        }
        .gray_text_color {
            color: #252b3b;
        }
        .orange_text_color {
            color: #fd6342;
        }
        .gray_background_color {
            background: #252b3b;
        }
        .orange_background_color {
            background: #fd6342;
        }

        .sign_up {
            padding-left: 3vw;
            padding-right: 3vw;
            padding-top: 0.6vw;
            padding-bottom: 0.6vw;

            background: #fd6342;
            border-color: #fd6342;

            border-radius: 2px;
            font-weight: bold;
        }

        #top_menu li a:hover {
            color: #fd6342;
        }
        #calendar {
            width: 90%;
            margin-left: 5%;
        }
        #booking {
            padding-left: 3vw;
            padding-right: 3vw;
            padding-top: 0.6vw;
            padding-bottom: 0.6vw;
            background: #fd6342;
            color: white;
            margin: 3px;
        }
        #view_profile {
            padding-left: 2vw;
            padding-right: 2vw;
            padding-top: 0.6vw;
            padding-bottom: 0.6vw;
            border: 1px solid #fd6342;
        }
        #view_profile:hover {
            padding-left: 2vw;
            padding-right: 2vw;
            padding-top: 0.6vw;
            padding-bottom: 0.6vw;
            border: 1px solid #fd6342;
            background: #fd6342;
            color: white;
        }
        .cards {
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }
        #btn {
            padding-left: 2vw;
            padding-right: 2vw;
            padding-top: 0.6vw;
            padding-bottom: 0.6vw;
            border: 1px solid #fd6342;
            background: #fd6342;
            color: white;
        }
        a:hover{
          text-decoration: none;
        }
    </style>

    <body>
        <%- include("../partial/top_menu.ejs")%>
        <br />
        <br />
        <br />

        <div class="container mt-5 pt-5">
          <div class="row">
            <div class="col">
              <div class="card" style="width: 19rem;">
                  <div class="mt-5 ms-3">
                      <img src="/img/profile.png" class="float-left" width="100" alt="..." />
                  </div>
                  <div class="card-body">
                      <h5 class="card-title">Muhammad Umar</h5>
                      <p class="card-text">/ Amin</p>
                  </div>
                  <ul class="list-group list-group-flush">
                      <a href="#" class="list-group-item active " style="background:  #fd6342;"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Request</a>
                      <a href="/AddDoc.html" class="list-group-item"><i class="fa fa-user-plus" aria-hidden="true"></i>
                        Add Doctor</a>
                      <a class="list-group-item"><i class="fa fa-list" aria-hidden="true"></i>&nbsp;User</a>
                      <a class="list-group-item"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Total Appointment</a>
                  </ul>
              </div>
          </div>

              <!--Appointment and bills-->
              <div class="col-8">
                  <!--Cards-->
                  <div class="row">
                      <div class="col-sm-6">
                          <div class="card bg-danger">
                              <div class="card-body">
                                  <h3 class="card-title text-white"><i class="fa fa-list" aria-hidden="true"></i> Total Appointment</h3>
                                  <h3 class="text-center m-5 text-white">671</h3>
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="card bg-danger text-white">
                              <div class="card-body">
                                  <h3 class="card-title"><i class="fa fa-user" aria-hidden="true"></i> Total Users</h3>
                                  <h5 class="card-text mt-5">Doctor : <span>12</span></h5>
                                  <h5 class="card-text mb-4">Patient : <span>650</span></h5>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-6 mt-5">
                          <div class="card bg-danger">
                              <div class="card-body">
                                  <h3 class="card-title text-white"><i class="fa-solid fa-dollar-sign"></i> Total Payment</h3>
                                  <h3 class="text-center m-5 text-white">$67,011</h3>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

        <br><br><br>
        <div class="gray_background_color">
            <%- include("../partial/footer.ejs")%>
            <script src="/js/jquery.min.js"></script>
            <script src="/js/bootstrap.min.js"></script>
        </div>
    </body>
</html>
