<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewpoint" content="width=device-width, initial-value=1.0">
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	<link rel="shortcut-icon" width="16px" height="16px" href="assets/images/sadapay-logo.webp">
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/all.min.css">
	<title>sadapay</title>
</head>

<body>
	<!--Navbar
	-->
<nav class="navbar navbar-light bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand text-danger"
          >Free <span class="text-white">Mind</span></a
        >
        <div class="d-flex">
          <a href="#" class="navbar-brand text-danger">Dashbord</a>
          <a href="#" class="navbar-brand text-white">About</a>
          <img
            src="assets/images/profile.png"
            class="ms-5"
            alt="not Found"
            width="40"
          />
        </div>
      </div>
    </nav>
	
	<!--Admin-->
	<div class="container mt-5 pt-5">
  <div class="row">
    <div class="col">
        <div class="card" style="width: 19rem;">
        <div class=" mt-5 ms-3">
            <img src="assets/images/profile.png" class="float-left"  width="100" alt="...">
        </div>
        <div class="card-body">
            <h5 class="card-title">Muhammad Umar</h5>
            <p class="card-text">/ Amin</p>
        </div>
            <ul class="list-group list-group-flush">
            <a href="/Dashbord.html" class="list-group-item "><i class="fa-solid fa-check me-2"></i>Request</a>
            <a href="/AddDoc.html" class="list-group-item "><i class="fa-solid fa-user-plus me-2"></i>Add Doctor</a>
            <a href="/users.html" class="list-group-item active bg-danger"><i class="fa-solid  fa-list me-2"></i>User</a>
            <a href="/totalAppointment.html" class="list-group-item"><i class="fa-solid fa-floppy-disk"></i>Appointment & Payments</a>
            </ul>
        </div>  
    </div>
    <div class="col-8">
      <table class="table">
  <thead class="bg-danger text-white">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>M.Ali</td>
      <td>ali12@gmail.cpom</td>
      <td>Patient</td>
      <td>Active</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Dr Huzaifa</td>
      <td>huzaifa@gmail.cpom</td>
      <td>Psychatrist</td>
      <td>Active</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Haris</td>
      <td>haris343@gmail.cpom</td>
      <td>Patient</td>
      <td>deactive</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Roman Sheraz</td>
      <td>roman2342@gmail.cpom</td>
      <td>psychologist</td>
      <td>Active</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Nazish</td>
      <td>n234324@gmail.cpom</td>
      <td>Patient</td>
      <td>Active</td>
    </tr>
  </tbody>
</table>

    </div>
    </div>
    </div>
	

	</section>
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
</body>

</html>