<div class="col">
    <div class="card" style="width: 19rem;">
    <div class=" mt-5 ms-3">
        <img src="/assets/images/profile.png" class="float-left"  width="100" alt="...">
    </div>
    <div class="card-body">
        <h5 class="card-title">Muhammad Umar</h5>
        <p class="card-text">/ Amin</p>
    </div>
        <ul class="list-group list-group-flush">
        <a href="/admin" class="list-group-item "><i class="fa-solid fa-check me-2"></i>Request</a>
        <a href="/admin/doctor/add-doctor" class="list-group-item"><i class="fa-solid fa-user-plus me-2"></i>Add Doctor</a>
        <a href="/admin/user" class="list-group-item"><i class="fa-solid fa-list me-2"></i>User</a>
        <a href="/admin/totalAppointment" class="list-group-item"><i class="fa-solid fa-floppy-disk"></i>Total Appointment</a>
        </ul>
    </div>  
</div>