<nav class="navbar navbar-expand-lg navbar-light gray_background_color">
    <a class="logo_text" class="nav-link" href="#"><span class="orange_text_color" style="font-weight: bold;font-size: 25px;">Mind</span> <span style="color: white; font-weight: bold;font-size: 25px;">Free</span></a>
    <button
        class="navbar-toggler"
        onclick="removeclass()"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
        style="background: white;"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <style>
        .dropdown{
            margin-left: 70%;
        }
    </style>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <%if(user.user_type=="Patient"){%>
        <ul class="navbar-nav mr-auto margin_item" id="top_menu">
           
            <li class="nav-item">
                <a class="nav-link" href="/user/user_appointment">Appointments </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/doctors">Doctors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"></a>
            </li>
            
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    
                    <%if(user.old_image!=""){%>
                        <img src="/uploads/<%=user.old_image%>" wsidth="40" height="40" class="rounded-circle"> 
                
                    <%}else if(user.new_image!=""){%>
                        <img src="/uploads/<%=user.new_image%>" wsidth="40" height="40" class="rounded-circle"> 
                    <%}else{%>
                        <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg" wsidth="40" height="40" class="rounded-circle"> 
                    <%}%>
                   
                  
   </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <!-- <a class="dropdown-item" href="#">Profile</a> -->
                  <a class="dropdown-item" href="/user/settings">Settings</a>
                  <a class="dropdown-item" href="/auth/logout">Log out</a>
                </div>
              </div>
            
        </ul>
        <%}else if(user.user_type=="Doctor"){%>
            <ul class="navbar-nav mr-auto margin_item" id="top_menu">
                <li class="nav-item">
                    <a class="nav-link" href="/doctor/dashboard">Dashbord </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/doctor/appointmemnt">Appointments </a>
                </li>
               <!--  <li class="nav-item">
                    <a class="nav-link" href="#">Doctors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li> -->
               
                
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%if(user.old_image!=""){%>
                            <img src="/uploads/<%=user.old_image%>" wsidth="40" height="40" class="rounded-circle"> 
                    
                        <%}else if(user.new_image!=""){%>
                            <img src="/uploads/<%=user.new_image%>" wsidth="40" height="40" class="rounded-circle"> 
                        <%}else{%>
                            <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg" wsidth="40" height="40" class="rounded-circle"> 
                        <%}%>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <!-- <a class="dropdown-item" href="#">Profile</a> -->
                      <a class="dropdown-item" href="/doctor/settings">Settings</a>
                      <a class="dropdown-item" href="/auth/logout">Log out</a>
                    </div>
                  </div>
                
            </ul>
        <%}else if(user.user_type=="admin"){%>
            <ul class="navbar-nav mr-auto margin_item" id="top_menu">
           
                
                
                <div class="dropdown" style="margin-left: 510%;">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg" width="40" height="40" class="rounded-circle">
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                     
                      <a class="dropdown-item" href="/auth/logout">Log out</a>
                    </div>
                  </div>
                
            </ul>
        <%}else{%>
            <style>
#top_menu{
    margin-left: 85%;
}
            </style>
            <ul class="navbar-nav mr-auto margin_item" id="top_menu" >
             
                
                &nbsp; &nbsp; &nbsp;
                <li class="nav-item" >
                    <a class="nav-link" href="/signup">Sign up</a>
                </li>
             
                
            </ul>
        <%}%>
    </div>
</nav>