<nav class="navbar navbar-expand-lg navbar-light gray_background_color">
    <a class="logo_text" class="nav-link" href="#"><span class="orange_text_color" style="font-weight: bold;font-size: 25px;">Mind</span> <span style="color: white; font-weight: bold;font-size: 25px;">Free</span></a>
    <button
        class="navbar-toggler"
        onclick="removeclass()"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
        style="background: white;"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto margin_item" id="top_menu">
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">contact</a>
            </li>
            &nbsp; &nbsp; &nbsp;
            <li class="nav-item">
                <a class="nav-link" href="#">Sign in</a>
            </li>
            &nbsp; &nbsp; &nbsp;
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg" width="40" height="40" class="rounded-circle">
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Profile</a>
                  <a class="dropdown-item" href="#">Settings</a>
                  <a class="dropdown-item" href="#">Log out</a>
                </div>
              </div>
        </ul>
    </div>
</nav>